<div>
  <h2>User info</h2>
  <%= image_tag @user.get_profile_image(100,100) %>
  <h6>name<%= @user.name %></h6>
  <h6>introduction<%= @user.introduction %></h6>

  <!--プロフィール設定画像 -->
  <i class="fa-solid fa-user-gear"></i>


</div>

<%= form_with model: @book, url: '/books', method: :post do |f| %>


<div class="main-logo">
     <h2>NEW book</h2>
</div>
    <div id="main-list">
       <label for="book_title">Title</label><br>
      <%=f.text_field :title %>
    </div>
    <div id="main-list">
       <label for="book_body">Opinion</label><br>
       <%= f.text_area :body %>
    </div>

    <div class="actions">
      <%=f.submit 'Create Book' %>
    </div>
<% end %>




<% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
<% end %>
    <p id="notice"></p>
    <h1>Books</h1>
    <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
          <th colspan="3"></th>
        </tr>
    </thead>



<% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
<% end %>
    <p id="notice"></p>
    <h1>Users</h1>
    <thead>
        <tr>
          <th></th>
          <th>image</th>
          <th>name</th>
          <th colspan="3"></th>
        </tr>
    </thead>
<tbody>
<% @users.each do |user| %>
<div>
  <%= image_tag user.get_profile_image(100,100) %>
  <%= user.name %>
　<%= link_to "Show", user_path(user.id) %>
</div>
<% end %>
</tbody>
